<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">
		<extensions>
			<add assembly="ReportPortal.NLog"/>
		</extensions>
		<targets>
			<target name="consoleError" xsi:type="ColoredConsole"
				layout="${newline}${date:format=dd.MM.yyyy HH\:mm\:ss} - ${logger:shortName=true}: ${newline}[ERROR] ${message}"
			/>

			<target name="console" xsi:type="ColoredConsole"
					layout="${newline}${date:format=dd.MM.yyyy HH\:mm\:ss} - ${logger:shortName=true}:${newline}${message}"
			/>

			<target name="RPError" xsi:type="ReportPortal"
					layout="[${logger:shortName=true}]${newline}[ERROR] ${message}"
			/>

			<target name="RP" xsi:type="ReportPortal"
					layout="[${logger:shortName=true}]${newline}${message}"
			/>
		</targets>
		<rules>
			<logger name="*" writeTo="consoleError" minlevel="Error"/>
			<logger name="*" writeTo="console" minlevel="Trace" maxlevel="Warn"/>
			<logger name="*" writeTo="RPError" minlevel="Error"/>
			<logger name="*" writeTo="RP" minlevel="Trace" maxlevel="Warn"/>
		</rules>
	</nlog>
</configuration>